<h1>Game Results!</h1>
<br>
<h4>Your hand: <%= @player_hand.map do |card| card[0] end.join(', ') %></h4>
<h4>Your total: <%= @player_total %></h4>
<h4>Dealer's hand: <%= @dealer_hand.map do |card| card[0] end.join(', ') %></h4>
<h4>Computer's total: <%= @dealer_total %></h4>
<br>
<h2><%= @results_message %></h2>
<h2>Your bankroll is now $<%= @player.bankroll %></h2>
<h3><a href="/bet">Next Hand</a></h3>
<h3><a href="/">New Game</a></h3>


